*{
	padding: 0;
	margin: 0;
	border:0px;
	font-family:Arial,Helvetica,sans-serif;
}

.logo{
	display:flex;
	justify-content: center;
}

.logo img{
	filter: brightness(0) invert(1);
	width: 20%;
}

.navbar{
    display: flex;
	padding:30px;
}

.nav-list{
	display: flex;
	align-items: center;
	justify-content:flex-end;
}

.nav-list li{
	list-style: none;
	padding: 0px 20px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}

.nav-list li a:hover{
    color: white;
}

.container{
	text-align: center;
        color:white;
	padding: 40px;

}

.background{
	background:rgba(0,0,0,0.4) url('../img/piggy-bank.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	background-blend-mode:darken;
	min-height:93vh;
	padding-bottom: 30px;
}

.headings{
	padding: 20px;
        color:white;
}

.options{
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content:center;
}

.option{
	padding:50px;
}

.user{
	padding-top:15px;
	padding-bottom:45px;
}

.x a{
	padding-left: 25px;
}

.y a{
	padding-left: 45px;
}
.btn{
	border:none;
	border-radius: 10px;
	padding: 10px;
	background:#555; 
	color:white;
	letter-spacing: 1.5px;
	font-size: 15px;
}

button:hover{
	transform: scale(1.1);
}

footer{
	text-align: center;
	background-color:white;
	overflow: hidden;
}

.btn2{
	text-decoration: none;
	margin: 15px;
	color:white;
	letter-spacing: 1.5px;
	font-size: 15px;
}

.btn2:hover{
    text-decoration: none;
	font-size: 110%;
}

.center{
	background-color: white;
	padding:20px;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3), 0 7px 20px 0 rgba(0,0,0,0.25);
}

label{
    display: inline-block;
    width: 20%;
    text-align:start;
}

input, select{
  display: inline-block;
  width: 70%;
  padding: 5px;
  border-radius: 5px;
}
